@model MangaModel

@{
    ViewData["Title"] = "Details " + Model.Title;
}
<div class="container">
    <div class="row">
        <h2 class="display-4 col-sm-12">@Html.DisplayFor(model => model.Title)</h2>
        <div class="card col-sm-4 mb-3" style="width: 18rem;">
                <img class="card-img-top" src="/images/Uploaded_covers/@Model.fileName" alt="cover1" asp-append-version="true" />
            </div>
        <div class="col-sm-8">
            <p class="font-weight-bold">Author:<span class="font-weight-normal"> @Html.DisplayFor(model => model.Author)</span></p>
            <p class="font-weight-bold">Description:<span class="font-weight-normal"> @Html.DisplayFor(model => model.Description)</span></p>
            <p class="font-weight-bold">Genre:<span class="font-weight-normal"> @Html.DisplayFor(model => model.Genre)</span></p>
            <p class="font-weight-bold">Chapters:<span class="font-weight-normal"> @Html.DisplayFor(model => model.Chapters)</span></p>
        </div>
    </div>
    <div>
        <environment include="Development">
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> | 
        </environment>
        <a asp-controller="Home" asp-action="Index">Back to List</a>
    </div>
</div>   